* {
  margin: 0;
  padding: 0;
}

header {
  background: #000000;
  color: #ffffff;
  float: left;
  width: 100%;

}

header h1 {
  float: left;
}

header ul {
  list-style: none;
  float: right;
}

header ul li {
  float: left;
  padding: 30px;
}

.container {
  border: 1px solid grey;
  display: inline-flex;
  flex-wrap: no-wrap;
}

div {
  order: 2;
  align-self: stretch;
}
